{% extends 'base.html' %}
{% block content_title %}{% endblock %}
{% block content %}

<div id='index'>
    <div class='cloud'>
        <img src='{{ SITEURL }}/theme/img/cloud.png' class='cloud1'>
        <img src='{{ SITEURL }}/theme/img/cloud.png' class='cloud2'>
    </div>
    <div class='text'>
        <h1>Devops BootCamp Fall Kickoff</h1>
        <h2>November 4th, 2017<br>
            Kelley Engineering Center<br>
            1001 & 1003</h2>
        <h4><i>Registration opening soon!</i></h4>
        <!--<a href="http://devopsdaycamp.eventbrite.com" class='button' id='register'>Register</a> -->
    </div>

    <div id='indexlogo'>
        <img src='{{ SITEURL }}/theme/img/airplane.png'>
    </div>
</div>
{% for page in pages | sort(attribute='order') %}
<section id='{{ page.slug }}' class='article
    {% if page.order|int%4 == 0 %}
    gray
    {% elif (page.order|int-1)%4 == 0 %}
    darkblue
    {% elif (page.order|int-2)%4 == 0 %}
    peach
    {% elif (page.order|int-3)%4 == 0 %}
    lightblue
    {% endif %}
    {% if page.parallax %} parallax {% endif %}
    ' name='{{ page.slug }}'>
<div class='page'>
    <h3 class='title'>{{ page.title }}</h3>
    {{ page.content }}
</div>
</section>
{% endfor %}
{% endblock %}
