@font-face{
   font-family: soho;
   src: url('../soho.otf') format('opentype');
   }

$bodybg: #fff;
$primary: #9CC5C9;
$secondary: #675040;
$navheight: 70px;
$darktext: #373737;
$lighttext: #F5F2ED;
$serif: 'soho', serif;

//Colors for different sections
$about: #E0C399;;
$both: #5D87A0; 
$osl: #ACAFA6; 
$advanced: #9CC5C9;

body{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, a{
    font-family: $serif;
    color: $lighttext;
    margin: 2px;
    font-weight: 600;
    z-index: 10;
}

h1{
    font-size: 46pt;}
h2 { 
    margin-top: 1em;
    font-size: 30pt;}
h3 { 
    font-size: 42pt;
    margin: auto;}
h4{
    font-size: 26pt;}
a {
    font-size: 18pt;}
p {
    line-height: 1.3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;}


#navbar{
    height: $navheight;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background: $secondary;
    display: inline-block;
    position: fixed;
    z-index: 20;

    #logo {
        height: $navheight;
    }
    
    #logo:hover{
        opacity: 1;
    }

    img{
        height: $navheight;
    }

    ul{
        display: block;
        height: $navheight;
        margin: 0px;
    }

    ul li{
        display: inline-block;
        line-height: $navheight;
        vertical-align: middle;
        position: relative;
    }

    ul li a{
        text-decoration: none;
        padding: 0px 15px;
        display:block;
        margin: 0px;
    }

    ul li a:hover{
        opacity: .5;
    }

    ul li ul{
        display:none;
        position: fixed;
        top: $navheight;
        padding: 0px;
        width: 160px;
    }

    ul li ul li{
        display: block;
        line-height: $navheight;
        vertical-align: middle;
        border-top: 1px solid white;
        background: $secondary;
    }

    ul li:hover ul, ul li ul li:hover ul{
        display: block;
    }
    
    .arrow{
        font-size: .5em;
        padding-bottom: 2px;
    }
}

#index{
    height: 70vh;
    max-height: 500px;
    display: inline-block;
    background: $primary;
    width: 100vw;
    padding-top: 5vh;
    margin-top: $navheight;
    
    h3, h4{
        line-height: 2em;
    }
}

#index:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.text{
    width: 40%;
    margin: 0px;
    margin-left: 10%;
    display: inline-block;
    vertical-align: middle;
}

#indexlogo{
    -webkit-animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
    -moz-animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
    -o-animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
    animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
    width: 40%;
    margin: 0px;
    margin-right: 10%;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 15vh;
    left: 50vw;
    
    img{
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
}

.article{
    padding: 5% 10vw;
}

.parallax{
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.page{
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    line-height: 1.3;
    padding: 15px;
}

#about{
    background-image: url('../img/osuosltransparent.jpg');
    box-shadow: inset 0 0 1em #111;
}

#about div, #entry .page{
    margin: 50px 0px;
    background: rgba(255, 255, 255, .7);
}

#about p, #about h3, #entry p, #entry h3, #entry h2 {
    color: $darktext;
}

#osl{
    background: $osl;
}

#advanced{
    background: $advanced;
}

#entry{
    background-image: url('../img/devopstransparent.jpg');
    box-shadow: inset 0 0 1em #111;
}

#together{
    background: $both;
}

/*Animation of paper airplane*/
/*@keyframes loop{
    0%{
        top: 0vh;
        left: 7.1vw;
        transform: rotate(180deg);
        }
    5%{
        top: 5.03vh;
        left: -5.65vw;
        transform: rotate(171deg);
        }   
    10%{
        top: 11.45vh;
        left: -10.16vw;
        transform: rotate(162deg);
        }
    15%{
        top: 18.89vh;
        left: -13.28vw;
        transform: rotate(153deg);
        }
    20%{
        top: 26.9vh;
        left: -14.83vw;
        transform: rotate(144deg);
        }
    25%{
        top: 35.17vh;
        left: -14.74vw;
        transform: rotate(135deg);
        }
    30%{
        top: 43.11vh;
        left: -13vw;
        transform: rotate(126deg);
        }
    35%{
        top: 50.32vh;
        left: -9.72vw;
        transform: rotate(117deg);
        }
    40%{
        top: 56.41vh;
        left: -5.08vw;
        transform: rotate(108deg);
        }
    45%{
        top: 61.04vh;
        left: 0.68vw;
        transform: rotate(99deg);
        }
    50%{
        top: 63.96vh;
        left: 7.23vw;
        transform: rotate(90deg);
        }
    55%{
        top: 65vh;
        left: 14.21vw;
        transform: rotate(81deg);
        }
    60%{
        top: 64.1vh;
        left: 21.23vw;
        transform: rotate(72deg);
        }
    65%{
        top: 61.32vh;
        left: 27.9vw;
        transform: rotate(63deg);
        }
    70%{
        top: 56.8vh;
        left: 33.87vw;
        transform: rotate(54deg);
        }
    75%{
        top: 50.8vh;
        left: 38.8vw;
        transform: rotate(45deg);
        }
    80%{
        top: 43.67vh;
        left: 42.4vw;
        transform: rotate(36deg);
        }
    85%{
        top: 35.77vh;
        left: 44.49vw;
        transform: rotate(27deg);
        }
    90%{
        top: 27.55vh;
        left: 44.95vw;
        transform: rotate(18deg);
        }
    95%{
        top: 19.4vh;
        left: 45vw;
        transform: rotate(9deg);
        }
    100%{
        top: 15vh;
        left: 50vw;
        }
    }*/

@keyframes fly{
    0%{
        top: 80vh;
        left: -20vw;
      }
    100%{
        top: 15vh;
        left: 50vw;
        }
}

@-webkit-keyframes fly{
    0%{
        top: 80vh;
        left: -20vw;
      }
    100%{
        top: 15vh;
        left: 50vw;
        }
}

@-moz-keyframes fly{
    0%{
        top: 80vh;
        left: -20vw;
      }
    100%{
        top: 15vh;
        left: 50vw;
        }
}

@-o-keyframes fly{
    0%{
        top: 80vh;
        left: -20vw;
      }
    100%{
        top: 15vh;
        left: 50vw;
        }
}
