body {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, p, a {
  font-family: "Bitter", serif;
  color: white;
  margin: 2px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 50px;
  margin: auto; }

a {
  font-size: 25px; }

p {
  font-size: 35px; }

#navbar {
  height: 70px;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background: #0b486b;
  display: inline-block;
  position: fixed;
  z-index: 20; }
  #navbar #logo {
    height: 70px; }
  #navbar #logo:hover {
    opacity: 1; }
  #navbar img {
    height: 70px; }
  #navbar ul {
    display: block;
    height: 70px; }
  #navbar ul li {
    display: inline-block;
    line-height: 70px;
    vertical-align: middle; }
  #navbar ul li a {
    text-decoration: none;
    padding: 0px 15px;
    display: block; }
  #navbar ul li a:hover {
    opacity: .5; }

#index {
  height: 70vh;
  display: inline-block;
  background: #88abc2;
  width: 100vw;
  padding-top: 5vh;
  margin-top: 70px; }

.text {
  width: 40%;
  margin: 0px;
  margin-left: 10%;
  padding: 0px;
  display: inline-block; }

#indexlogo {
  -webkit-animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
  -moz-animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
  -o-animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
  animation: fly 1s cubic-bezier(0, 0.2, 0.5, 1) 1;
  width: 40%;
  margin: 0px;
  margin-right: 10%;
  padding: 0px;
  display: inline-block;
  position: absolute;
  top: 15vh;
  left: 50vw; }
  #indexlogo img {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto; }

.article {
  padding: 5% 10vw; }

.page {
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto; }

/*about page styles*/
#about, #osl {
  padding: 0px;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block; }

#about::after, #osl::after {
  content: "";
  background-image: url("../img/devops.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: .4;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  max-width: 100vw;
  width: 100%;
  padding: 0px; }

#about h3, #osl h3, #about p, #osl p {
  color: black; }

/*Schedule*/
#schedule {
  background: #3b8686; }

/*OSL*/
#osl::after {
  background-image: url("../img/osuoslbig.jpg"); }

/*Animation of paper airplane*/
/*@keyframes loop{
    0%{
        top: 0vh;
        left: 7.1vw;
        transform: rotate(180deg);
        }
    5%{
        top: 5.03vh;
        left: -5.65vw;
        transform: rotate(171deg);
        }   
    10%{
        top: 11.45vh;
        left: -10.16vw;
        transform: rotate(162deg);
        }
    15%{
        top: 18.89vh;
        left: -13.28vw;
        transform: rotate(153deg);
        }
    20%{
        top: 26.9vh;
        left: -14.83vw;
        transform: rotate(144deg);
        }
    25%{
        top: 35.17vh;
        left: -14.74vw;
        transform: rotate(135deg);
        }
    30%{
        top: 43.11vh;
        left: -13vw;
        transform: rotate(126deg);
        }
    35%{
        top: 50.32vh;
        left: -9.72vw;
        transform: rotate(117deg);
        }
    40%{
        top: 56.41vh;
        left: -5.08vw;
        transform: rotate(108deg);
        }
    45%{
        top: 61.04vh;
        left: 0.68vw;
        transform: rotate(99deg);
        }
    50%{
        top: 63.96vh;
        left: 7.23vw;
        transform: rotate(90deg);
        }
    55%{
        top: 65vh;
        left: 14.21vw;
        transform: rotate(81deg);
        }
    60%{
        top: 64.1vh;
        left: 21.23vw;
        transform: rotate(72deg);
        }
    65%{
        top: 61.32vh;
        left: 27.9vw;
        transform: rotate(63deg);
        }
    70%{
        top: 56.8vh;
        left: 33.87vw;
        transform: rotate(54deg);
        }
    75%{
        top: 50.8vh;
        left: 38.8vw;
        transform: rotate(45deg);
        }
    80%{
        top: 43.67vh;
        left: 42.4vw;
        transform: rotate(36deg);
        }
    85%{
        top: 35.77vh;
        left: 44.49vw;
        transform: rotate(27deg);
        }
    90%{
        top: 27.55vh;
        left: 44.95vw;
        transform: rotate(18deg);
        }
    95%{
        top: 19.4vh;
        left: 45vw;
        transform: rotate(9deg);
        }
    100%{
        top: 15vh;
        left: 50vw;
        }
    }*/
@keyframes fly {
  0% {
    top: 80vh;
    left: -20vw; }

  100% {
    top: 15vh;
    left: 50vw; } }
@-webkit-keyframes fly {
  0% {
    top: 80vh;
    left: -20vw; }

  100% {
    top: 15vh;
    left: 50vw; } }
@-moz-keyframes fly {
  0% {
    top: 80vh;
    left: -20vw; }

  100% {
    top: 15vh;
    left: 50vw; } }
@-o-keyframes fly {
  0% {
    top: 80vh;
    left: -20vw; }

  100% {
    top: 15vh;
    left: 50vw; } }
