body {
  margin: 0px;
  padding: 0px;
  font-size: 0px; }

#navbar {
  height: 70px;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background: #835e21;
  display: inline-block; }

#navbar ul {
  display: block;
  height: 70px; }

#navbar ul li {
  display: inline-block;
  line-height: 70px; }

#navbar ul li a {
  text-decoration: none;
  color: #444444;
  font-family: "Bitter", serif;
  font-size: 28px;
  margin: 0px 10px;
  display: block; }

#index {
  height: 60vh;
  display: inline-block;
  background: #307a40;
  width: 100vw;
  padding-top: 5vh; }

#text {
  width: 40%;
  margin: 0px;
  margin-left: 10%;
  padding: 0px;
  display: inline-block; }

#index h2, p {
  color: white;
  font-family: "Bitter", serif; }

#index h2 {
  font-size: 50px; }

#index p {
  font-size: 35px; }

#indexlogo {
  width: 40%;
  margin: 0px;
  margin-right: 10%;
  padding: 0px;
  display: inline-block; }

#indexlogo img {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto; }
