$bodybg: #fff;
$primary: #307A40;
$secondary: #835E21;
$accent: #000;
$navheight: 70px;
$darktext: #444;
$lighttext: #fff;
$sansserif: 'Open Sans', sans-serif;
$serif: 'Bitter', serif;

body{
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

#navbar{
    height: $navheight;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background: $secondary;
    display: inline-block;
}

#navbar ul{
    display: block;
    height: $navheight;
}

#navbar ul li{
    display: inline-block;
    line-height: $navheight;
}

#navbar ul li a{
    text-decoration: none;
    color: $darktext;
    font-family: $serif;
    font-size: 28px;
    margin: 0px 10px;
    display:block;
}

#index{
    height: 60vh;
    display: inline-block;
    background: $primary;
    width: 100vw;
    padding-top: 5vh;
}

#text{
    width: 40%;
    margin: 0px;
    margin-left: 10%;
    padding: 0px;
    display: inline-block;
}

#index h2, p{
    color: $lighttext;
    font-family: $serif;
}

#text h2{
    font-size: 50px;
}

#text p{
    font-size: 35px;
}

#indexlogo{
    width: 40%;
    margin: 0px;
    margin-right: 10%;
    padding: 0px;
    display: inline-block;
}

#indexlogo img{
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}



